//    Vođenje kina
//    Copyright (C) 2022  Denis Bošnjaković
//
//    This program is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    This program is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
//
//    You should have received a copy of the GNU General Public License
//    along with this program.  If not, see <https://www.gnu.org/licenses/>.

@mixin link {
	text-decoration: inherit;
	color: inherit;
}

$card-border-radius: 12px;
$card-text-hover-color: #696969;

.movie {
	&-card {
		border-radius: $card-border-radius;
		transition: transform 0.35s;

		&:hover {
			@extend .movie-card;

			transition: transform 0.45s;
			transform: scale(1.035);
		}

		&-title:hover {
			@include link;

			color: $card-text-hover-color;
		}
	}

	&-actor {
		&-name {
			@include link;

			&:hover {
				@extend .movie-actor-name;

				color: $card-text-hover-color;
			}
		}
	}
}
