@use "Animations";

svg#freepik_stories-new-message:not(.animated) .animable {
	opacity: 0;
}

svg#freepik_stories-new-message.animated #freepik--Message--inject-39 {
	animation: 1.5s Infinite linear floating;
	animation-delay: 0s;
}
