@use "Animations";

svg#freepik_stories-search-engines:not(.animated) .animable {
	opacity: 0;
}

svg#freepik_stories-search-engines.animated #freepik--Device--inject-111 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
	animation-delay: 0s;
}

svg#freepik_stories-search-engines.animated #freepik--Window--inject-111 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
	animation-delay: 0s;
}

svg#freepik_stories-search-engines.animated #freepik--magnifying-glass--inject-111 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft, 1.5s Infinite linear floating;
	animation-delay: 0s, 1s;
}
