@use "Animations";

svg#freepik_stories-404-error:not(.animated) .animable {
	opacity: 0;
}

svg#freepik_stories-404-error.animated #freepik--Planets--inject-14 {
	animation: 1.5s Infinite linear shake;
	animation-delay: 0s;
}

svg#freepik_stories-404-error.animated #freepik--Astronaut--inject-14 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight, 1.5s Infinite linear floating;
	animation-delay: 0s, 1s;
}

svg#freepik_stories-404-error.animated #freepik--Rocket--inject-14 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft, 1.5s Infinite linear floating;
	animation-delay: 0s, 1s;
}
