@use "Animations";

svg#freepik_stories-500-internal-server-error:not(.animated) .animable {
	opacity: 0;
}

svg#freepik_stories-500-internal-server-error.animated #freepik--Server--inject-129 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
	animation-delay: 0s;
}

svg#freepik_stories-500-internal-server-error.animated #freepik--Character--inject-129 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight, 3s Infinite linear wind;
	animation-delay: 0s, 1s;
}

svg#freepik_stories-500-internal-server-error.animated #freepik--error-500--inject-129 {
	animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown, 1.5s Infinite linear floating;
	animation-delay: 0s, 1s;
}
