//    Vođenje kina
//    Copyright (C) 2022  Denis Bošnjaković
//
//    This program is free software: you can redistribute it and/or modify
//    it under the terms of the GNU General Public License as published by
//    the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    This program is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU General Public License for more details.
//
//    You should have received a copy of the GNU General Public License
//    along with this program.  If not, see <https://www.gnu.org/licenses/>.

$yellow-color-dark-theme: #fab005;
$yellow-color-light-theme: #f08c00;
$red-color-dark-theme: #e03131;
$red-color-light-theme: #fa5252;

$th-color-dark-theme: #101113;
$th-hover-color-dark-theme: #090a0b;
$th-color-light-theme: #e9ecef;
$th-hover-color-light-theme: #c8ced4;

.entity-table {
	overflow: hidden;
	border-radius: 7px;

	&-light {
		@extend .entity-table;

		& th {
			background-color: $th-color-light-theme;
		}
	}

	&-dark {
		@extend .entity-table;

		& th {
			background-color: $th-color-dark-theme;
		}
	}
}

.thead {
	cursor: pointer;

	&-light {
		@extend .thead;

		&:hover {
			background-color: $th-hover-color-light-theme;
		}
	}

	&-dark {
		@extend .thead;

		&:hover {
			background-color: $th-hover-color-dark-theme;
		}
	}

	&-icon {
		margin: 0 0 0 auto;
	}
}

.action {
	width: 6.25rem;

	&-icon {
		@extend .action;

		cursor: pointer;

		@media screen and (min-width: 768px) {
			width: 1.325rem;
			height: 1.325rem;
		}

		height: 1.525rem;
		width: 1.525rem;

		&-cursor-default {
			@extend .action-icon;

			cursor: default;
		}

		&-delete {
			@extend .action-icon;

			margin-right: 0.25rem;

			&-light {
				@extend .action-icon-delete;

				color: $red-color-light-theme;
			}

			&-dark {
				@extend .action-icon-delete;

				color: $red-color-dark-theme;
			}
		}

		&-edit {
			@extend .action-icon;

			&-light {
				@extend .action-icon-edit;

				color: $yellow-color-light-theme;
			}

			&-dark {
				@extend .action-icon-edit;

				color: $yellow-color-dark-theme;
			}
		}
	}
}

.delete-modal-icon {
	&-light {
		color: $red-color-light-theme;
	}

	&-dark {
		color: $red-color-dark-theme;
	}
}
